/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2018, 2:07:37 PM
    Author     : sheneille
*/

.cscard-container{
    max-width: 369px;
}

.cscard-img{
    display: block;
    width: 100%;
    background: red;
    min-height:260px;
}

.cscard-img img{
    display: block;
    width: 100%;
}

.button-large{
    border: 1px solid #999;
    padding: 10px 20px;
    background: yellow;
}

h3{
    display: block;
}

h4{
    display: block;
}

