/**
 * ----------------------------------------------------------------------------
 * #.# Frontend CSS
 *
 * BLOCK: 01-block-editablelist block CSS for the editor & front end.
 * ----------------------------------------------------------------------------
 */

.wp-block-hgd-block-editablelist-01 {
	color: #000000;
	background: azure;
	border: 0.2rem solid red;
	padding: 2rem;
}

.icon-container{
    background: red;
    width: 40px;
}

.wp-block-hgd-block-editablelist-01 .icon-image {
	background: #f1f1f1;
	float: right;
	width: 50%;
	min-height: 100px;
	text-align: center;
}

.wp-block-hgd-block-editablelist-01 .icon-image button {
	margin-top: 30px;
}

.wp-block-hgd-block-editablelist-01 .icon-image button.image-button {
	margin: 0;
	padding: 0;
	display: block;
}

.wp-hgd-block-editablelist-01 .icon-image img {
	display: block;
	z-index: 1;
	position: relative;
}
